USE [master]
GO
/****** Object:  Database [Home_Arkan_DB]    Script Date: 3/2/2026 2:18:48 PM ******/
CREATE DATABASE [Home_Arkan_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Home_Arkan_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Home_Arkan_DB.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Home_Arkan_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Home_Arkan_DB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Home_Arkan_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Home_Arkan_DB]
GO
/****** Object:  Table [dbo].[geography_mapping]    Script Date: 3/2/2026 2:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geography_mapping](
	[Olist_Source_Mapping] [varchar](50) NULL,
	[State_Code] [varchar](50) NULL,
	[City_Name] [nvarchar](100) NULL,
	[Region] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_customers]    Script Date: 3/2/2026 2:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_customers](
	[customer_id] [varchar](50) NULL,
	[customer_unique_id] [varchar](50) NULL,
	[customer_zip_code_prefix] [varchar](20) NULL,
	[customer_city] [nvarchar](100) NULL,
	[customer_state] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_order_items]    Script Date: 3/2/2026 2:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_order_items](
	[order_id] [varchar](50) NULL,
	[order_item_id] [int] NULL,
	[product_id] [varchar](50) NULL,
	[seller_id] [varchar](50) NULL,
	[shipping_limit_date] [varchar](50) NULL,
	[price] [decimal](10, 2) NULL,
	[freight_value] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_order_payments]    Script Date: 3/2/2026 2:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_order_payments](
	[order_id] [varchar](50) NULL,
	[payment_sequential] [int] NULL,
	[payment_type] [varchar](50) NULL,
	[payment_installments] [int] NULL,
	[payment_value] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_order_reviews]    Script Date: 3/2/2026 2:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_order_reviews](
	[review_id] [varchar](50) NULL,
	[order_id] [varchar](50) NULL,
	[review_score] [int] NULL,
	[review_comment_title] [nvarchar](max) NULL,
	[review_comment_message] [nvarchar](max) NULL,
	[review_creation_date] [varchar](50) NULL,
	[review_answer_timestamp] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_orders]    Script Date: 3/2/2026 2:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_orders](
	[order_id] [varchar](50) NULL,
	[customer_id] [varchar](50) NULL,
	[order_status] [varchar](50) NULL,
	[order_purchase_timestamp] [varchar](50) NULL,
	[order_approved_at] [varchar](50) NULL,
	[order_delivered_carrier_date] [varchar](50) NULL,
	[order_delivered_customer_date] [varchar](50) NULL,
	[order_estimated_delivery_date] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_products]    Script Date: 3/2/2026 2:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_products](
	[product_id] [varchar](50) NULL,
	[product_category_name] [nvarchar](100) NULL,
	[product_name_length] [int] NULL,
	[product_description_length] [int] NULL,
	[product_photos_qty] [int] NULL,
	[product_weight_g] [int] NULL,
	[product_length_cm] [int] NULL,
	[product_height_cm] [int] NULL,
	[product_width_cm] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_sellers]    Script Date: 3/2/2026 2:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_sellers](
	[seller_id] [varchar](50) NULL,
	[seller_zip_code_prefix] [varchar](20) NULL,
	[seller_city] [nvarchar](100) NULL,
	[seller_state] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_categories_mapping]    Script Date: 3/2/2026 2:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_categories_mapping](
	[product_category_name] [nvarchar](100) NULL,
	[product_category_name_english] [nvarchar](100) NULL
) ON [PRIMARY]
GO
USE [master]
GO
