USE [master]
GO
/****** Object:  Database [Home_Arkan_DB]    Script Date: 3/7/2026 9:58:30 PM ******/
CREATE DATABASE [Home_Arkan_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Home_Arkan_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Home_Arkan_DB.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Home_Arkan_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Home_Arkan_DB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Home_Arkan_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Home_Arkan_DB]
GO
/****** Object:  Table [dbo].[Dim_Geography]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Geography](
	[GeoKey] [int] NOT NULL,
	[Egypt_StateCode] [varchar](50) NULL,
	[Egypt_CityName] [nvarchar](100) NULL,
	[Egypt_Region] [nvarchar](100) NULL,
	[Flag_Image_URL] [nvarchar](max) NULL,
 CONSTRAINT [PK_Dim_Geography] PRIMARY KEY CLUSTERED 
(
	[GeoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_PaymentMethod]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_PaymentMethod](
	[PaymentMethodKey] [int] NOT NULL,
	[PaymentMethodName] [varchar](50) NULL,
 CONSTRAINT [PK_Dim_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[PaymentMethodKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Product]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Product](
	[ProductKey] [int] NOT NULL,
	[CategoryName_English] [nvarchar](100) NULL,
 CONSTRAINT [PK_Dim_Product] PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Status]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Status](
	[StatusKey] [int] NOT NULL,
	[StatusName] [varchar](50) NULL,
 CONSTRAINT [PK_Dim_Status] PRIMARY KEY CLUSTERED 
(
	[StatusKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Sales]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Sales](
	[OrderKey] [int] NULL,
	[ProductKey] [int] NULL,
	[StatusKey] [int] NULL,
	[PaymentMethodKey] [int] NULL,
	[CustomerGeoKey] [int] NULL,
	[SellerGeoKey] [int] NULL,
	[CustomerUniqueKey] [int] NULL,
	[SellerKey] [int] NULL,
	[PurchaseDate] [datetime] NULL,
	[ApprovedDate] [datetime] NULL,
	[DeliveredCarrierDate] [datetime] NULL,
	[DeliveredCustomerDate] [datetime] NULL,
	[EstimatedDeliveryDate] [datetime] NULL,
	[ShippingLimitDate] [datetime] NULL,
	[Price] [decimal](10, 2) NULL,
	[FreightValue] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geography_mapping]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geography_mapping](
	[Olist_Source_Mapping] [varchar](50) NULL,
	[State_Code] [varchar](50) NULL,
	[City_Name] [nvarchar](100) NULL,
	[Region] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[map_customer]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[map_customer](
	[Old_Customer_ID] [varchar](50) NULL,
	[CustomerKey] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[map_customer_unique]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[map_customer_unique](
	[Old_CustomerUnique_ID] [varchar](50) NULL,
	[CustomerUniqueKey] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[map_order]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[map_order](
	[Old_Order_ID] [varchar](50) NULL,
	[OrderKey] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[map_product]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[map_product](
	[Old_Product_ID] [varchar](50) NULL,
	[ProductKey] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[map_seller]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[map_seller](
	[Old_Seller_ID] [varchar](50) NULL,
	[SellerKey] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_customers]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_customers](
	[customer_id] [varchar](50) NULL,
	[customer_unique_id] [varchar](50) NULL,
	[customer_zip_code_prefix] [varchar](20) NULL,
	[customer_city] [nvarchar](100) NULL,
	[customer_state] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_order_items]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_order_items](
	[order_id] [varchar](50) NULL,
	[order_item_id] [int] NULL,
	[product_id] [varchar](50) NULL,
	[seller_id] [varchar](50) NULL,
	[shipping_limit_date] [varchar](50) NULL,
	[price] [decimal](10, 2) NULL,
	[freight_value] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_order_payments]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_order_payments](
	[order_id] [varchar](50) NULL,
	[payment_sequential] [int] NULL,
	[payment_type] [varchar](50) NULL,
	[payment_installments] [int] NULL,
	[payment_value] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_order_reviews]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_order_reviews](
	[review_id] [varchar](50) NULL,
	[order_id] [varchar](50) NULL,
	[review_score] [int] NULL,
	[review_comment_title] [nvarchar](max) NULL,
	[review_comment_message] [nvarchar](max) NULL,
	[review_creation_date] [varchar](50) NULL,
	[review_answer_timestamp] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_orders]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_orders](
	[order_id] [varchar](50) NULL,
	[customer_id] [varchar](50) NULL,
	[order_status] [varchar](50) NULL,
	[order_purchase_timestamp] [varchar](50) NULL,
	[order_approved_at] [varchar](50) NULL,
	[order_delivered_carrier_date] [varchar](50) NULL,
	[order_delivered_customer_date] [varchar](50) NULL,
	[order_estimated_delivery_date] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_products]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_products](
	[product_id] [varchar](50) NULL,
	[product_category_name] [nvarchar](100) NULL,
	[product_name_length] [int] NULL,
	[product_description_length] [int] NULL,
	[product_photos_qty] [int] NULL,
	[product_weight_g] [int] NULL,
	[product_length_cm] [int] NULL,
	[product_height_cm] [int] NULL,
	[product_width_cm] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_sellers]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_sellers](
	[seller_id] [varchar](50) NULL,
	[seller_zip_code_prefix] [varchar](20) NULL,
	[seller_city] [nvarchar](100) NULL,
	[seller_state] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_categories_mapping]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_categories_mapping](
	[product_category_name] [nvarchar](100) NULL,
	[product_category_name_english] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State_Flags]    Script Date: 3/7/2026 9:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State_Flags](
	[State_Code] [nvarchar](50) NOT NULL,
	[City_Name] [nvarchar](50) NOT NULL,
	[Img] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
